body > h1 {
    text-align: center;
}
ul {
    list-style: none;
}

.todoapp {
    margin: 1em;
    border: 1px solid #DDD;
}

.todoapp > div > div {
    max-width: 15em;
    margin: auto;
}

.todoapp > div > div > span  {
    min-width: 10.4em;
}

.todoapp > div > div > span >input:first-child {
    max-width: 1em;
    padding-left: 0px;
    padding-right: 0px;
    border-right: none;
}
.todoapp > div > div > span >input:last-child {
    max-width: 9.4em;
    border-left:none;
    text-align: right;
}

.todoapp > div > ul {
    list-style: none;
    text-align: center;
}

.todoapp > div > ul > li {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}
.todoapp > div > ul > li > button {
    min-width: 7em;
}

.todoapp > div > div {
    border-top: 1px solid #EEE;
    padding: 1em;
    text-align: center;
}

.todoapp > div > div > ul {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table td {
    margin:0px;
    padding: 1px;
}

table button {
    min-width: 2.5em;
    min-height: 2.5em;
    margin: 0px;
    padding: 0px;
}

table td[rowspan="2"] button {
    height: 5em;
}
table td[colspan="2"] button {
    width: 5em;
}